In [12]:
import os
import pandas as pd

In [13]:
os.chdir("/run/media/chris/Chris/Tutorials/[DesireCourse.Net] Udemy - The Complete Pandas Bootcamp 2020 Data Science with Python/2. ---PART 1 PANDAS FROM ZERO TO HERO (BUILDING BLOCKS)---/2.1 Course_Materials_Part1/Course_Materials_Part1/Video_Lecture_NBs")

In [2]:
hello = "Hello World"
hello

'Hello World'

In [3]:
len(hello)

11

In [4]:
hello.upper()

'HELLO WORLD'

In [6]:
hello.lower()

'hello world'

In [7]:
hello.title()

'Hello World'

In [8]:
hello.split(" ")

['Hello', 'World']

In [9]:
hello.replace("Hello","Hi")

'Hi World'

In [14]:
summers = pd.read_csv("summer.csv")

In [16]:
names = summers.loc[:9,"Athlete"].copy()
names.head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

In [17]:
names.dtypes

dtype('O')

In [19]:
names[0]

'HAJOS, Alfred'

In [23]:
names.str.lower()

0            hajos, alfred
1         herschmann, otto
2        drivas, dimitrios
3       malokinis, ioannis
4       chasapis, spiridon
5    chorophas, efstathios
6            hajos, alfred
7         andreou, joannis
8    chorophas, efstathios
9            neumann, paul
Name: Athlete, dtype: object

In [24]:
names.str.title()

0            Hajos, Alfred
1         Herschmann, Otto
2        Drivas, Dimitrios
3       Malokinis, Ioannis
4       Chasapis, Spiridon
5    Chorophas, Efstathios
6            Hajos, Alfred
7         Andreou, Joannis
8    Chorophas, Efstathios
9            Neumann, Paul
Name: Athlete, dtype: object

In [29]:
summers.Event.str.split(" ",n=1,expand=True)

          0                      1
0      100M              Freestyle
1      100M              Freestyle
2      100M  Freestyle For Sailors
3      100M  Freestyle For Sailors
4      100M  Freestyle For Sailors
...     ...                    ...
31160    Wg                  84 KG
31161    Wg                  96 KG
31162    Wg                  96 KG
31163    Wg                  96 KG
31164    Wg                  96 KG

[31165 rows x 2 columns]

In [30]:
summers.Event.str.contains("100M")

0         True
1         True
2         True
3         True
4         True
         ...
31160    False
31161    False
31162    False
31163    False
31164    False
Name: Event, Length: 31165, dtype: bool

In [31]:
summers[summers.Event.str.contains("100M")]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
29660,2012,London,Athletics,Athletics,"STEWART, Kerron",JAM,Women,4X100M Relay,Silver
29661,2012,London,Athletics,Athletics,"BRYZGINA, Yelyzaveta",UKR,Women,4X100M Relay,Bronze
29662,2012,London,Athletics,Athletics,"POVH, Olesya",UKR,Women,4X100M Relay,Bronze
29663,2012,London,Athletics,Athletics,"RYEMYEN, Mariya",UKR,Women,4X100M Relay,Bronze
29664,2012,London,Athletics,Athletics,"STUY, Hrystyna",UKR,Women,4X100M Relay,Bronze